.idea/
appManage/
basicui/
data/backupdata/
data/cache/
data/enums/
data/indexBody/
data/module/
data/safe/
data/sessions/
data/tplcache/*
data/uploadtmp/
data/xiaoyang/
data/ziptmp/
data/orderTipsMp3/

images/

uploads/
mysql_error_trace.inc
config.cache.inc.php
config.cache.bak.php
sys_error_trace.inc

